/* Import Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&family=Recursive&display=swap');


/* Set initial values to 0 */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;   
}

/* Set background and font properties */

html {
    background: url(../images/uyuni-cover.jpg) no-repeat center center;
    background-size: cover;
}

body * {
    font-family:'Merriweather Sans', sans-serif;
    color: #2e2452;
    font-size: 1em;
}

h1, h2 {
    font-family: 'Recursive', sans-serif;
    font-size: 1.6rem;
}

h3 {
    font-size: 1.2rem;
}

/* universal classes */

.flex {
    display: flex;
    flex-wrap: wrap;
}

/* header */

header {
    width: 100%;
    height: 10%;
    margin: 5% 0 10px 0;
    justify-content: center;
}

.container-outline {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 25px 0;
    box-shadow: 5px 10px 30px whitesmoke inset, 7px 20px 80px #fad7e3b8 inset;
}

#logo-image {
    padding: 20px 10px 10px 10px;
    max-width: 250px;
}

#logo-image:hover {
    transform: scale(1.1);
}

ul {
    padding: 10px;
}

#navbar {
    justify-content: center;
    align-items: center;
}

li {
    list-style-type: none;
    padding: 5px;
}

#navbar li * {
    font-size: 18px;
    font-weight: bold;
}

li:hover {
    transform: scale(1.2);
}

a {
    text-decoration: none;
}

/* main */

main {
    width: 100%;
}

#title {
    margin-bottom: 10px;
    padding: 20px 10px 10px 10px;
    text-align: center;
}

#title * {
    padding: 7px;
}

.container {
    margin-bottom: 30px;
    padding: 10px 10px 30px 10px;
    justify-content: space-evenly;
    align-items: center;
    gap: 5px;
}

.card {
    width: 125px;
    height: 125px;
    /* flex-direction: column; */
    align-items: center;
    position: relative;
    border-radius: 50%;
    /* box-shadow: 10px 5px 30px #eee, 10px 5px 40px #d9c0dd; */
    box-shadow: 5px 7px 10px #504972, 5px 7px 20px #fad7e3;
    aspect-ratio: 1 / 1;
 } 

.card img {
    width: 100%;
    height: 100%;
    padding: 1px;
    border: 2px solid #2e2452;
    object-fit: cover;
    border-radius: 50%;
}

.card img:hover {
    transform: scale(1.1) ;
}

.card p {
    position: absolute;
    top: 16px;
    left: 16px;
    color: rgb(194, 37, 37);
    font-size: 10px;
    font-weight: bold;
    z-index: 2;
}

#about {
    width: 90%;
    margin: auto;
    padding: 10px 20px;
    padding: 10px 20px;
    text-align: center;
    background: #eeeeee7a;
    border: 3px solid #504972;
    border-radius: 99% 1% 99% 1% / 1% 99% 1% 99%;
    box-shadow: 5px 3px 10px #504972, 5px 3px 20px #fad7e3;
}

#about * {
    padding: 10px 0px;
    font-weight: bold;
    letter-spacing: 0.9px;   
}


/* footer */


footer {
    height: 10%;
    margin-left: auto;
    margin-right: auto;
}

.links {
    padding: 10px;
    justify-content: center;
}

.links li {
    padding: 30px;
}

i {
    transform: scale(2.5);
    color: #2e2452;;
}

/* Gallery page */

.grid-container {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(30, minmax(25px, 75px));
    gap: 5px;
}

.portfolio {
    display: flex;
    justify-content: center;
    border-radius: 20px;
}

.portfolio * {
    margin: 5px;
    object-fit: cover;
    flex-grow: 1;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 5px 3px 10px #504972, 5px 3px 20px #fad7e3;
}

.heading {
    align-items: center;
    grid-column: span 8;
    grid-row: span 1;
}

.heading > h3 {
    padding: 1.5rem;
    text-align: center;
}

.square {
    grid-column: span 4;
    grid-row: span 2;
}

.rectangle {
    grid-column: span 8;
    grid-row: span 2;
}

.tall {
    grid-column: span 4;
    grid-row: span 3;
}

#eye-top, #eye-middle, #eye-bottom {
    grid-column: span 4;
    grid-row: span 1;
}


/* Get in touch page */

.form {
    width: 80%;
    min-height: 300px;
    margin: auto;
    padding: 15px;

}

.form > div {
    display: flex;
    flex-direction: column;
}

.form h2 {
    text-align: center;
    padding: 10px;
    margin: 10px 0;
}

label {
    padding: 10px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    padding: 7px;
    border-radius: 10px;
    background: #eeeeee7a;
    border: 1px solid #504972;
    box-shadow: 5px 3px 10px #504972, 5px 3px 20px #fad7e3;
}

#button {
    width: 125px;
    height: 50px;
    padding: 10px;
    margin: 30px auto 10px;
    background: #eeeeee7a;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 95% 5% 95% 5% / 2% 95% 3% 95%;
    box-shadow: 5px 3px 10px #504972, 5px 3px 20px #fad7e3;
}

#button:hover {
    transform: scale(1.1);
}

/* media screens */

@media screen and (min-width: 500px) {

    .grid-container {
        grid-template-rows: repeat(30, minmax(25px, 80px));
    }

   .form {
    width: 400px;
   }
}

@media screen and (min-width: 660px) {
    

    header {
        justify-content: space-between;
    }

    #navbar {
        margin-right: 20px;
        justify-content: flex-end;
    }

    #logo-image {
        margin-left: 20px;
    }

    #about {
        width: 70%;
     }

    .grid-container {
        grid-template-rows: repeat(22, minmax(25px, 80px));
    }

    .heading{
        grid-column: span 4;
    }

    .smaller {
        grid-column: span 2;
        grid-row: span 2;
    }

    .rectangle {
        grid-column: span 4;
        grid-row: span 2;
    }

    .tall {
        grid-column: span 2;
        grid-row: span 3;
    }

    .larger {
        grid-column: span 4;
        grid-row: span 3;
    }

    .comics {
        grid-column: span 4;
        grid-row: span 6;
    }

    #eye-top, #eye-middle, #eye-bottom {
        grid-column: span 4;
        grid-row: span 2;
    }
}

@media screen and (min-width: 1025px) {

    .container-outline {
        width: 80%;
     }


     .card {
        width: 175px;
        height: 175px;
    }

    .grid-container {
        grid-template-rows: repeat(22, minmax(25px, 100px));
    }

    .portfolio {
        padding: 7px;
    }

    .portfolio * {
        box-shadow: 5px 7px 20px #504972, 5px 7px 30px #fad7e3;
    }
}

@media screen and (min-width: 1200px) {

    .grid-container {
        grid-template-rows: repeat(23, minmax(25px, 150px));
    }

    .heading {
        grid-column: span 8;
        grid-row: span 1;
    }

    .rectangle {
        grid-column: span 6;
    } 

    .big-square {
        grid-column: span 4;
        grid-row: span 3;
    }

    #dog {
        grid-column: span 2;
        grid-row: span 3;

    }

    #lotr {
        grid-column: span 4;
    } 

    .taller {
        grid-row: span 4;
    }

    .larger {
        grid-column: span 4;
    }

    .comics {
        grid-column: 2 / span 3;
        grid-row: span 3;
    }

    #center-comics img {
        object-position: top;
    }

    #eye-top, #eye-middle, #eye-bottom {
        grid-column: span 3;
        grid-row: span 1;
    }
}
