/* Import Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&family=Recursive&display=swap');


/* Set initial values */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;   
}

html, body {
    height: 100%;
}

/* Set background and font properties */

body {
    /* background: url(../images/uyuni2.webp) no-repeat center center fixed; */
    background: #f8efef;
    background-size: cover;
}

body * {
    font-family:'Merriweather Sans', sans-serif;
    color: #2e2452;
    font-size: 1em;
}

h1, h2 {
    padding: 5px;
    font-family: 'Recursive', sans-serif;
    font-size: 1.6rem;
}

h3 {
    padding: 5px;
    font-size: 14px;
    font-weight: bold;
}

h4 {
    font-size: 1.4rem;
}

/* universal classes */

.background-image {
    height: unset;
    background: url(../images/uyuni2.webp) no-repeat center center fixed;
    background-size: cover;
    z-index: 2;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.active {
    text-decoration: 2px underline;
    text-underline-offset: 3px;
}

/* header */

header {
    width: 100%;
    justify-content: center;
    position: sticky;
    top: 0;
    background: #f8efef;
    /* box-shadow: 5px 10px 30px whitesmoke inset, 7px 20px 80px #7f7cafb3 inset; */
    z-index: 3;
}

.container-outline {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background: #f8efefd1;
    /* box-shadow: 5px 10px 30px whitesmoke inset, 7px 20px 80px #7f7cafb3 inset; */
}

#logo-image {
    padding-top: 10px;
    max-width: 200px;
}

#logo-image:hover {
    transform: scale(1.1);
}

ul {
    padding: 10px;
}

#navbar {
    padding-bottom: 20px;
    justify-content: center;
    align-items: center;
}

li {
    list-style-type: none;
    padding: 5px;
}

#navbar li * {
    font-size: 1rem;
    font-family: 'Recursive', sans-serif;
    font-weight: bold;
}

li:hover {
    transform: scale(1.2);
}


a {
    text-decoration: none;
}

/* Hero */

#hero {
    width: 100%;
    height: 75%;
    background: url(../images/uyuni-cover.webp) no-repeat 77%;
    background-size: cover;
}

#title {
    margin-left: 20px;
    padding: 20px;
    /* text-align: center; */
    position: absolute;
    top: 30%;
}

#name-box {
    padding: 20px;
    width: min-content;
    background: #eeeeee7a;
    box-shadow: 5px 3px 10px #51497a, 5px 3px 20px #f8efef;
}


#title h1 {
    text-transform: uppercase;
}

#hero-btn {
    margin: 25px 0 0 35px;
    padding: 7px;
    width: 110px;
    height: 50px;
    align-items: center;
    width: min-content;
    background: #eeeeee7a;
    text-transform: uppercase;
    font-weight: bold;
    border: 2px solid #2e2452;
    box-shadow: 5px 3px 10px #51497a, 5px 3px 20px #f8efef;
}

#hero-btn a {
    font-family: 'Recursive', sans-serif;
}

#hero-btn:hover {
    transform: scale(1.2);
}



/* .button {
    position: absolute;
    bottom: 10%;
    left: 40%;
} */



/* Main */

main {
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
}

#home { 
    margin-top: 50px;
    background: none;
}


.container {
    padding: 10px;
    justify-content: space-evenly;
    align-items: center;
    gap: 5px;
}

.card {
    width: 125px;
    height: 125px;
    /* flex-direction: column; */
    align-items: center;
    position: relative;
    border-radius: 50%;
    /* box-shadow: 10px 5px 30px #eee, 10px 5px 40px #d9c0dd; */
    box-shadow: 5px 7px 10px #51497a, 5px 7px 20px #6e8ebd;
    aspect-ratio: 1 / 1;
} 

.card img {
    width: 100%;
    height: 100%;
    padding: 1px;
    border: 2px solid #2e2452;
    object-fit: cover;
    border-radius: 50%;
}

.card img:hover {
    transform: scale(1.1) ;
}

.card p {
    position: absolute;
    top: 16px;
    left: 16px;
    color: rgb(194, 37, 37);
    font-size: 10px;
    font-weight: bold;
    z-index: 2;
}

#about {
    width: 90%;
    margin: 20px auto;
    padding: 10px 20px;
    text-align: center;
    background: #f3f3f3;
    border: 5px solid #504972;
    border-radius: 95% 1% 95% 1% / 2% 99% 2% 99%;
    box-shadow: 10px 10px 20px #51497a, 7px 5px 30px #6e8ebd;
}

#about * {
    padding: 10px 0px;
    font-weight: bold;
    letter-spacing: 0.9px;   
}


#about a:hover {
    color:#a200ff;
}

/* footer */


footer {
    height: auto;
    width: 100%;
    background: #f8efef;
}

#footer-bg {
    background: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url(../images/uyuni2.webp) no-repeat center center;
    background-size: cover;
}

.links {
    padding: 10px;
    justify-content: center;
}

.links li {
    padding: 30px;
}

i {
    transform: scale(2.5);
    color: #2e2452;;
}

/* Gallery page */

.grid-container {
    display: grid;
    height: 100%;
    width: 100%;
    margin: auto;
    padding: 20px 10px;
    grid-template-columns: repeat(8, minmax(15px, 75px));
    grid-template-rows: repeat(30, minmax(15px, 75px));
    gap: 10px;
}

.portfolio {
    display: flex;
    justify-content: center;
    /* border-radius: 20px; */
}

.portfolio * {
    margin: 5px;
    object-fit: cover;
    flex-grow: 1;
    overflow: hidden;
    /* border-radius: 20px; */
    box-shadow: 1px 1px 15px #51497a, 1px 3px 5px #6e8ebd;
}

.heading {
    align-items: center;
    grid-column: span 8;
    grid-row: span 1;
}

.heading > h3 {
    font-size: 1rem;
    font-family: 'Recursive', sans-serif;
    padding: 1.1rem;
    text-align: center;
    background: #f3f3f3;
    border-radius: 95% 5% 95% 5% / 2% 95% 3% 95%;;
}

.square {
    grid-column: span 4;
    grid-row: span 2;
}

.rectangle {
    grid-column: span 8;
    grid-row: span 2;
}

.tall {
    grid-column: span 4;
    grid-row: span 3;
}

#eye-top, #eye-middle, #eye-bottom {
    grid-column: span 4;
    grid-row: span 1;
}


/* Get in touch page */

.contact-card {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background: #f8efefee;
    /* box-shadow: 5px 10px 30px whitesmoke inset, 7px 20px 80px #7f7cafb3 inset; */
}

.form {
    width: 80%;
    /* min-height: 300px; */
    margin: auto;
    padding: 20px 15px 30px 15px;

}

.form > div {
    display: flex;
    flex-direction: column;
}

.contact-card h2 {
    font-size: 1.8rem;
    text-align: center;
    padding: 40px 0 20px 0;
    text-transform: uppercase;
    text-shadow: 7px 3px 7px #51497a;
}

label {
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
}


input[type="text"],
input[type="email"],
textarea {
    outline: none;
    padding: 7px;
    border-radius: 10px;
    background: #f3f3f3;
    border: 2px solid #2e2452;
    box-shadow: 5px 3px 10px #51497a, 5px 3px 20px #6e8ebd;
}

#button {
    width: 125px;
    height: 50px;
    padding: 10px;
    margin: 30px auto 10px;
    background: #f3f3f3;
    text-transform: uppercase;
    border: 2.5px solid #2e2452;
    font-weight: bold;
    border-radius: 95% 5% 95% 5% / 2% 95% 3% 95%;
    box-shadow: 5px 3px 10px #51497a, 5px 3px 20px #6e8ebd;
}

#button:hover {
    transform: scale(1.1);
}

/* media screens */

@media screen and (min-width: 500px) {

    #title {
        left: 5%;
    }

    #name-box {
        width: max-content;
    }

    #hero-btn {
        padding: 15px;
        margin: 25px 0 0 80px;
    }

    /* main {
        margin-top: 175px;
    } */

    .grid-container {
        grid-template-columns: repeat(8, minmax(25px, 80px));
        grid-template-rows: repeat(30, minmax(25px, 80px));
    }

    .contact-card {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        background: #f8efefee;
        /* box-shadow: 5px 10px 30px whitesmoke inset, 7px 20px 80px #7f7cafb3 inset; */
    }

    .form {
    width: 400px;
}
}

@media screen and (min-width: 660px) {
    header {
        justify-content: space-between;
    }

    #navbar {
        margin-right: 20px;
        justify-content: flex-end;
    }

    #navbar li * {
        font-size: 1.1rem;
    }

    #logo-image {
        margin-left: 20px;
    }

    #title {
        left: 10%;
    }

    #title h1 {
        font-size: 1.8rem;
    }

    #about {
        width: 70%;
    }


    .grid-container {
        grid-template-columns: repeat(8, minmax(25px, 150px));
        grid-template-rows: repeat(18, minmax(25px, 100px));
    }

    .heading{
        grid-column: span 4;
    }

    .smaller {
        grid-column: span 2;
        grid-row: span 2;
    }


    #lotr {
        grid-column: span 3;
    }

    #forest {
        grid-column: span 3;
    }

    .rectangle {
        grid-column: span 4;
        grid-row: span 2;
    }

    .tall {
        grid-column: span 3;
        grid-row: span 3;
    }

    .taller {
        grid-column: span 2;
    }

    #city {
        grid-column: span 3;
    }

    /* .larger {
        grid-column: span 4;
        grid-row: span 3;
    } */

    .comics {
        grid-column: span 4;
        grid-row: span 3;
    }

    /* #eye-top, #eye-middle, #eye-bottom {
        grid-column: span 4;
        grid-row: span 1;
    }*/
}

@media screen and (min-width: 1025px) {

    h3 {
        font-size: 1rem;
    }

    .container-outline {
        width: 80%;
    }

    #title {
        left: 15%;
    }

    #title h1 {
        font-size: 2rem;
    }


    .card {
        width: 175px;
        height: 175px;
    }

    .grid-container {
        grid-template-columns: repeat(8, minmax(25px, 150px));
        grid-template-rows: repeat(19, minmax(25px, 100px));
    }

    .portfolio {
        padding: 7px;
    }

    /* .portfolio * {
        box-shadow: 5px 7px 20px #504972, 5px 7px 30px #fad7e3;
    } */

    .earth {
        grid-column: span 4;
        grid-row: span 3;
    }

    .contact-card {
        width: 70%;
    }

    .contact-card h2 {
        font-size: 2rem;
    }
}

@media screen and (min-width: 1200px) {

    #title {
        left: 20%;
    }

    .grid-container {
        grid-template-columns: repeat(8, minmax(25px, 150px));
        grid-template-rows: repeat(21, minmax(25px, 150px));
    }

    .heading {
        grid-column: span 8;
        grid-row: span 1;
    }

    .heading > h3 {
        font-size: 1.5rem;
        padding: 1.5rem;
    }


    .rectangle {
        grid-column: span 5;
    } 

    .smaller {
        grid-column: span 3;
    }

    #mona {
        grid-column: span 2;
    }

    .big-square {
        grid-column: span 4;
        grid-row: span 2;
    }

    /* #dog {
        grid-column: span 2;
        grid-row: span 3;

    } */

    /* #lotr {
        grid-column: span 4;
    }  */

    .earth {
        grid-column: span 4;
        grid-row: span 2;
    }

    .taller {
        grid-row: span 4;
    }

    

    .comics {
        grid-column: 2 / span 3;
        grid-row: span 3;
    }

    #center-comics img {
        object-position: top;
    }

    #eye-top, #eye-middle, #eye-bottom {
        grid-column: span 3;
        grid-row: span 1;
    }
}


@media screen and (min-width: 1450px) {
    .grid-container {
        grid-template-columns: repeat(8, minmax(50px, 200px));
        grid-template-rows: repeat(17, minmax(25px, 150px));
    }

    .heading {
        grid-column: span 4;
    }

    .smaller {
        grid-column: span 2;
        grid-row: span 2;
    }

    .rectangle {
        grid-column: span 4;
        grid-row: span 2;
    }

    .tall {
        grid-column: span 2;
        grid-row: span 3;
    }

    #dog {
        grid-row: span 2;
    }

    #lotr {
        grid-column: span 2;
    }

    #forest {
        grid-column: span 2;
        grid-row: span 2;
    }

    #city {
        grid-column: span 4;
        grid-row: span 2;
    }

    /* .larger {
        grid-column: span 4;
        grid-row: span 3;
    } */

    #comics {
        grid-column: span 8;
    }

    .comics {
        grid-column: 2 / span 3;
        grid-row: span 3;
    }

    #eye-top, #eye-middle, #eye-bottom {
        grid-column: span 3;
        grid-row: span 1;
    }

    .contact-card {
        width: 60%;
    }
}   
